# For MiniWoB and PyTorch
numpy==1.24.3
scipy
Pillow
selenium
pytest
jsonpickle
Fabric3
tensorflow
line-profiler
futures
pyhocon
ipython
tqdm
gitpython
tensorboard_logger
twisted
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
